.tutor{
    /* 50% and 10px per side */
 flex-basis: calc(50% - 20px);
 margin: 10px;
}

.tutor-picture {
 height: 200px;
 width: 200px;
 background-size: cover;
 background-position: center;
}

.tutor-title {
 margin-top: 10px;
 font-weight: bold;
}